<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.maxcarli.carpooling">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:theme="@style/FullScreen">

        </activity>
        <activity
            android:name=".Splash_activity"
            android:label="@string/app_name"
            android:theme="@style/FullScreen">




        </activity>
        <activity android:name=".RegistrazioneCittadino" /> <!-- riferimento a una risorsa di tipo style che si chiama FullScreen -->
        <activity
            android:name=".ImieiPassaggi"
            android:label="@string/ImieiPassaggi"></activity>
        <activity

            android:name=".Principale"
            android:label="@string/ImieiPassaggi">


        </activity>
        <activity android:name=".OffriPassaggi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>